@font-face{
  font-family: 'poppins';
  src: url('../fonts/poppinsR.ttf');
}
@font-face{
  font-family: 'poppinsB';
  src: url('../fonts/poppinsB.ttf');
}
@font-face{
  font-family: 'poppinsE';
  src: url('../fonts/poppinsE.ttf');
}
.fa, .fas, .fab, .far{
  font-size: 25px;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6, bd{
  font-family: "poppinsE", sans-serif;
}
.red{
  color: #FF0000;
}
header{
	height: 50px;
	width: calc(100% - 30px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background: #EBEBEB;
	/* box-shadow: 2px 2px 5px #999999; */
	color: #fff;
	padding: 0px 15px;
	top: 0px;
}
.overlay{
	height: 100vh;
	width: 100vw;
	top: 0px;
	background: rgba(0, 0, 0, 0.7);	
	position: fixed;
	z-index: 100;
	transition: 0.4s;
}
.wrapper{
	margin-top: 50px;
	overflow-y: auto;
	text-align: justify-content;
	width: calc(100vw - 10px);
	padding: 0px 5px;
}
.form-container{
  height: 100%;
  display: grid;
  place-items: center;
}
sidebar{
	background: #f0f0f0;
	display: flex;
	width: 350px;
	flex-direction: column;
	max-width: 70vw;
	position: fixed;
	overflow-y: auto;
	height: 100vh;
	z-index: 10000;
	top: 0;
	left: -100%;
	transition: 0.3s;
}
items, name{
	border-bottom: 1px solid #333;
	padding: 10px;
}
.show{
	left: 0px;
}
fab{
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
}
a{
	text-decoration: none;
	color: #fff;
}
form{
	width: 350px;
	max-width: 80vw;
	background: #eee;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	margin-top: calc(calc(100vh - 100%)/2);
}
input[type="text"],
input[type="password"]
{
	height: 20px;
	width: calc(100% - 80px);
	padding: 10px 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}
inps{
	position: relative;
}
pre-hint{
	position: absolute;
	font-size: 20px;
	top: 1px;
	left: 10px;
}
post-hint{
	position: absolute;
	top: 1px;
	right: 10px;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.action{
	display: flex;
	margin-top: 5px;
	justify-content: space-between;
}
.action a{
	color: #000;
}
button{
	letter-spacing: 1px;
	border: none;
	outline: none;
	background: #0056ff;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
}
.btn-blk{
	width: 100%;
}

.round{
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
#donate{
  background: #FF0052;
}
.logo{
  height: 40px;
  width: 40px;
}
brand{
  display: flex;
  align-items: center;
}
.brand-name{
  color: #B70000;
}
.toggle{
  color: #000000;
}